@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.flipBox {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    margin: 20px;
  }
  
  .flipBoxInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flipBox:hover .flipBoxInner {
    transform: rotateY(180deg);
  }
  
  .flipBoxFront,
  .flipBoxBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
  }
  
  .flipBoxFront {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .flipBoxBack {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .inner {
    padding: 20px;
  }
  
  .flipBoxHeader {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Montserrat';
   
  }
  
  .flipBoxButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .flipBoxButton:hover {
    background-color: #005bb5;
  }
  
  .textCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  