@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container {
   
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
   
    height:80vh;
    justify-content: space-between;
    align-items: center;
   
    color: white;
   
  }

  .title{
    font-weight: bold;
    font-size: 32px;
    align-items: flex-start;
    color:aquamarine;
    font-family: 'Montserrat';

  }
  .description{
    font-size: 1.2vw;
    font-family: 'Montserrat';
  }
  
  .textSection {
    width: 50%;
  }



  .textItem {
    padding-top: 4vh;
    
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    cursor:pointer
  }
  
  .textItem.active {
    opacity: 1;
    font-weight: bold;
  }
  
  .imageSection {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 10vw;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }




  